.body_container {
	background-image: url("/public/graphic/background.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	width: 100%;
	min-width: 660px;
	min-height: 100vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.loader{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}

.element_group {
	padding-left: 10px;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.navbar {
	margin-top: 10px;
	grid-template-columns: 20px 50px;
	background-color: #F3F3F3;
	align-items: center;
	justify-content: center;
	width: 99%;
	height: 60px;
	display: flex;
	border-radius: 15px;
	font-size: 23px;
	font-weight: 700;
	box-shadow: 1px 6px 3px -2px rgb(0 0 0 / 20%),
		1px 3px 4px 0px rgb(0 0 0 / 24%),
		1px 1px 8px 0px rgb(0 0 0 / 30%);
}

.navbar_left {
	display: flex;
	align-items: center;
	justify-content: left;
	float: left;
	width: 16%;
	justify-content: space-evenly;
	max-width: 80px;
}

.navbar_logo_box{
	height: 35px;
	margin-left: 20px;
	display: flex;
	align-items: center;
	justify-content: right;
}

.navbar_center {
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 68%;
}

.navbar_right {
	display: flex;
	align-items: center;
	justify-content: center;
	float: right;
	width: 16%;
	justify-content: space-evenly;
	max-width: 80px;
}

.navbar_button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	padding-inline: 10px;
}

.display_content {
	height: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content_box {
	width: 99%;
	max-width: 2000px;
	max-height: 800px;
	margin-top: 30px;
	margin-bottom: 30px;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.box_title {
	text-align: left;
	font-size: 17px;
	font-weight: 700;
	margin-top: 5px;
	margin-bottom: 2px;
}

.left_side {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	height: 100%;
	margin-right: 3%;
	margin-left: 1%;
}

.box_border_left {
	max-height: 500px;
	padding-inline: 20px;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-bottom: 13px;
	border: solid #000;
	border-width: 2px;
	border-radius: 13px;
	background: #C8D9E3;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 40%),
		0px 3px 4px 0px rgb(0 0 0 / 24%), 0px 1px 8px 0px rgb(0 0 0 / 22%);
}

.label {
	font-weight: 700;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 7px;
}

.radio_box{
    margin-bottom: 20px;
    max-width: 300px;
}

.radio_input{
    display: flex;
    border: solid;
    border-width: 1px;
    outline: black;
	min-width: 120px;
    max-width: 500px;
    background-color: #FFA65C;
    padding: 5px;
    margin: 3px 0px 3px 5px;
    font-size: 16px;
}

.input {
	display: flex;
	border: auto;
	border-width: 1px;
	outline: black;
	width: 90%;
	max-width: 300px;
	background-color: #F3F3F3;
	padding: 13px;
	margin: 3px 0;
	margin-bottom: 10px;
	font-size: 15px;
}

.right_side {
	display: inline-block;
	vertical-align: top;
	width: 62%;
	height: fit-content;
	margin-left: 3%;
	margin-right: 1%;
}

.box_border_right {
	overflow-y: auto;
	max-height: 500px;
	min-height: 425px;
	padding-inline: 20px;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-bottom: 13px;
	border: solid #000;
	border-width: 2px;
	border-radius: 13px;
	background: #C8D9E3;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 40%),
		0px 3px 4px 0px rgb(0 0 0 / 24%), 0px 1px 8px 0px rgb(0 0 0 / 22%);
		text-align: start;
}

.one_user_data{
	background: white;
	border-radius: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 8px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.data_part {
	display: inline-flex;
}

.label_inside_right_box {
	font-weight: 700;
	display: inline-flex;
	padding-left: 15px;
	margin-right: 3px;
}

.no_underline{
    text-decoration: none;
}

.save_changes_btn {
	border: auto;
	border-width: 1px;
	outline: black;
	padding: 11px;
	margin-top: 10px;
	background-color: #55C3FE;
	border-radius: 10px;
	width: 80%;
    max-width: 500px;
	font-weight: 600;
	font-size: 15px;
	cursor: pointer;
}


.role_box {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #CCD9E3;
	width: 280px;
	height: 33px;
	border-top: solid;
	border-left: solid;
	border-top-left-radius: 15px;
	border-width: 2px;
	outline: black;
	font-size: 15px;
	font-weight: 700;
	position: fixed;
	bottom: 0;
	right: 0;
}

.error_msg {
	width: 100%;
	height: 30px;
	margin: 7px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 10px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media(max-width: 700px) {
	.error_msg {
		width: 100%;
		height: 20px;
		margin: 7px 0;
		font-size: 11px;
		background-color: #f34646;
		color: white;
		border-radius: 10px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}